# Imports

In [4]:
# Basics
import numpy as np
import pandas as pd
import os
import scipy.stats as stats
from pydataset import data

# Visuals
import matplotlib.pyplot as plt
import seaborn as sns

# Models and Metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

# Custom
import env
import wrangle_prep as wp

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Make sure we can see the full scale of the data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df = data('iris')
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [5]:
train, validate, test = wp.split_data(df)

train <> (84, 5)
validate <> (36, 5)
test <> (30, 5)

In [8]:
scaler = MinMaxScaler()
    
num_columns = ['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']
    
train_scaled = train.copy()
validate_scaled = validate.copy()
test_scaled = test.copy()
    
scaler.fit(train[num_columns])
    
train_scaled[num_columns] = scaler.transform(train[num_columns])
validate_scaled[num_columns] = scaler.transform(validate[num_columns])
test_scaled[num_columns] = scaler.transform(test[num_columns])

train_scaled.shape, validate_scaled.shape, test_scaled.shape

((84, 5), (36, 5), (30, 5))

# Exercise 1

Clustering with the Iris Dataset

#### Using this lesson as a guide, perform clustering on the iris dataset.

   - Choose features other than the ones used in the lesson.
   - Visualize the results of your clustering.
   - Use the elbow method to visually select a good value for k.
   - Repeat the clustering, this time with 3 different features.




#### Use the techniques discussed in this lesson, as well as the insights gained from the exploration exercise to perform clustering on the mall customers dataset. Be sure to visualize your results!

#### How does scaling impact the results of clustering?

   - Compare k-means clustering results on scaled and unscaled data (you can choose any dataset for this exercise OR use the data/steps outlined in the bonus below). You can show how the resulting clusters differ either with descriptive statistics or visually.